<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Tasks {% endblock title %}</title>
</head>
<body>
{% block content %}
    <h1>Tasks</h1>
    <ul>
        {% for task in tasks %}
        <div>
            <span>{{ task.task }}</span>
            <form action="{% url 'delete' task.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </div>
        {% endfor %}
        
    </ul>
    <a href="{% url 'add' %}">Add Task</a>
{% endblock content %}
</body>
</html>